<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/style.css">
    <title>Garagem</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <h1>GARAGEM PIASSI</h1>
            <button class="btn btn-success" type="submit"><a href="./index.html">VER CARROS</a></button>
        </div>
    </nav>

    <div class="container col-6 mt-5">
        <h2 class="title is-3 mb-4 mt-6"><b>Cadastre o carro Aqui!</b></h2>

        <form>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o nome do carro">
            </div>

            <div class="mb-3">
                <label class="form-label">Marca</label>
                <input type="text" id="marca" name="marca" class="form-control" placeholder="Digite a marca do carro">
            </div>

            <div class="mb-3">
                <label class="form-label">Ano</label>
                <input type="number" id="ano" name="ano" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">km rodados</label>
                <input type="number" id="kmRodados" name="kmRodados" class="form-control"
                    placeholder="Digite o nome do carro">
            </div>

            <div class="mb-3">
                <label class="form-label">Placa</label>
                <input type="text" id="placa" name="placa" class="form-control" placeholder="Digite a placa do carro">
            </div>

            <div class="mb-3">
                <label class="form-label">Valor</label>
                <input type="number" id="valor" name="valor" class="form-control" placeholder="R$: 0.000,00">
            </div>

            <button class="btn btn-success" id="btnCadastrar">CADASTRAR</button>

        </form>
    </div>

    <script>
        $(document).on("click", "#btnCadastrar", function(e) {
            e.preventDefault();

            var nome = $('#nome').val();
            var marca = $('#marca').val();
            var ano = $('#ano').val();
            var kmRodados = $('#kmRodados').val();
            var placa = $('#placa').val();
            var valor = $('#valor').val();

            console.log(placa);
            $.ajax({
                url: "http://localhost:8080/carro",
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({nome : nome, marca : marca, ano : ano, kmRodados : kmRodados, 
                placa : placa, valor : valor}),
                success: function (msg) {
                    window.location.replace("index.html");
                },
                error: function (request, status, error) {
                    alert("Carro não cadastrado!");
                },
            });
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>